* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;

  background-color: rgb(18, 20, 109);
}
.back {
  background-image: linear-gradient(rgba(23, 72, 112, 0.767), rgba(23, 72, 112, 0.733)), url("img/W3tra4F.gif");
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
}
.header {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("img/stars.png");
  /* background-image: url('img/stars15Moving.gif'); */

  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 98% 79%, 97% 79%, 95% 80%, 87% 85%, 76% 98%, 75% 98%, 70% 99%, 0 100%);
}

.text-box {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lowbox {
  display: flex;
  justify-content: center;
}

.heading-primary {
  text-transform: uppercase;
}

.heading-primary-main {
  display: inline-block;
  color: orangered;
  text-shadow: -7px 7px rgb(13, 196, 13);
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 35px;

  animation-name: moveIn;
  animation-duration: 3s;
}

.heading-primary-sub {
  display: inline-block;
  color: orangered;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 50px;
  animation-name: inLeft;
  animation-duration: 3s;

  -webkit-text-stroke: 4px rgb(13, 196, 13);
}

.heading-primary-sub2 {
  display: inline-block;
  color: orangered;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 50px;
  animation-name: inRight;
  animation-duration: 3s;

  -webkit-text-stroke: 4px rgb(13, 196, 13);
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: scale(70);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes inLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes inRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
